# Created by .ignore support plugin (hsz.mobi)
### Java template
# Compiled class file
*.iml
rebel.xml
.svn/
/.idea
.idea/
.settings/
.project
.classpath
target/
/core/target
/mgrsite/target
/website/target
out/
bin/
build/
*.ipr
*.class
atlassian-ide-plugin.xml
jars/
nbactions.xml
deploy-pom.xml
tmp/

# SBT
boot/
lib_managed/
src_managed/
test-output/
.history

# IntelliJ
*.iws

# Eclipse
.cache
.scala_dependencies
.settings
.target/

# Netbeans
.classpath_nb

# Mac
.DS_Store

# Other
*.pyc
home/been/myApp.log
logs/
readme.txt
test.tar



.mymetadata
.checkstyle

.class
.war
.zip
.rar
.idea

.settings/*
/indexes/*
/target/*
/src/main/webapp/WEB-INF/classes/*
/src/main/webapp/userfiles/*
/target/
.idea/*.xml
.idea/libraries/*
.idea/*
json/
image/
deploy/