<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.feiran.zg.core.base.mapper.DoctorInfoMapper" >
  <resultMap id="BaseResultMap" type="com.feiran.zg.core.base.domain.DoctorInfo" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="doctor_name" property="doctorName" jdbcType="VARCHAR" />
    <result column="doctor_sex" property="doctorSex" jdbcType="VARCHAR" />
    <result column="hospital_name" property="hospitalName" jdbcType="VARCHAR" />
    <result column="offices_name" property="officesName" jdbcType="VARCHAR" />
    <result column="doctor_img" property="doctorImg" jdbcType="VARCHAR" />
    <result column="doctor_title" property="doctorTitle" jdbcType="VARCHAR" />
    <result column="teach_title" property="teachTitle" jdbcType="VARCHAR" />
    <result column="doctor_administrative" property="doctorAdministrative" jdbcType="VARCHAR" />
    <result column="doctor_degree" property="doctorDegree" jdbcType="VARCHAR" />
    <result column="doctor_forte" property="doctorForte" jdbcType="VARCHAR" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="phone_number" property="phoneNumber" jdbcType="VARCHAR" />
    <result column="realAuth_id" property="realAuthId" jdbcType="BIGINT" />
    <result column="bit_state" property="bitState" jdbcType="BIGINT" />
    <result column="is_delete" property="isDelete" jdbcType="TINYINT" />
    <result column="doctor_about" property="doctorAbout" jdbcType="LONGVARCHAR" />
    <result column="version" property="version" jdbcType="INTEGER" />
  </resultMap>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
--     delete from doctorinfo
--     where id = #{id,jdbcType=BIGINT}
      UPDATE doctorinfo SET is_delete = 1
  </delete>

  <insert id="insert" parameterType="com.feiran.zg.core.base.domain.DoctorInfo">
    insert into doctorinfo (id,doctor_name, doctor_sex, hospital_name,
      offices_name, doctor_img, doctor_title, 
      teach_title, doctor_administrative, doctor_degree, 
      doctor_forte, email, phone_number, 
      realAuth_id, bit_state, is_delete, 
      doctor_about,version)
    values (#{id,jdbcType=BIGINT},#{doctorName,jdbcType=VARCHAR}, #{doctorSex,jdbcType=VARCHAR}, #{hospitalName,jdbcType=VARCHAR},
      #{officesName,jdbcType=VARCHAR}, #{doctorImg,jdbcType=VARCHAR}, #{doctorTitle,jdbcType=VARCHAR}, 
      #{teachTitle,jdbcType=VARCHAR}, #{doctorAdministrative,jdbcType=VARCHAR}, #{doctorDegree,jdbcType=VARCHAR}, 
      #{doctorForte,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, #{phoneNumber,jdbcType=VARCHAR}, 
      #{realAuthId,jdbcType=BIGINT}, #{bitState,jdbcType=BIGINT}, #{isDelete,jdbcType=TINYINT},
      #{doctorAbout,jdbcType=LONGVARCHAR},0)
  </insert>

  <update id="updateByPrimaryKey" parameterType="com.feiran.zg.core.base.domain.DoctorInfo" >
    update doctorinfo
      <set>
        <if test="doctorName != null and doctorName!=''">doctor_name = #{doctorName,jdbcType=VARCHAR},</if>
        <if test="doctorSex != null and doctorSex!=''">doctor_sex = #{doctorSex,jdbcType=VARCHAR},</if>
        <if test="hospitalName != null and hospitalName!=''">hospital_name = #{hospitalName,jdbcType=VARCHAR},</if>
        <if test="officesName != null and officesName!=''">offices_name = #{officesName,jdbcType=VARCHAR},</if>
        <if test="doctorImg != null and doctorImg!=''">doctor_img = #{doctorImg,jdbcType=VARCHAR},</if>
        <if test="doctorTitle != null and doctorTitle!=''">doctor_title = #{doctorTitle,jdbcType=VARCHAR},</if>
        <if test="teachTitle != null and teachTitle!=''">teach_title = #{teachTitle,jdbcType=VARCHAR},</if>
        <if test="doctorAdministrative != null and doctorAdministrative!=''">doctor_administrative = #{doctorAdministrative,jdbcType=VARCHAR},</if>
        <if test="doctorDegree != null and doctorDegree!=''">doctor_degree = #{doctorDegree,jdbcType=VARCHAR},</if>
        <if test="doctorForte != null and doctorForte!=''">doctor_forte = #{doctorForte,jdbcType=VARCHAR},</if>
        <if test="email != null and email!=''">email = #{email,jdbcType=VARCHAR},</if>
        <if test="phoneNumber != null and phoneNumber!=''"> phone_number = #{phoneNumber,jdbcType=VARCHAR},</if>
        <if test="realAuthId != null and realAuthId!=''">realAuth_id = #{realAuthId,jdbcType=BIGINT},</if>
        <if test="bitState != null and bitState!=''">bit_state = #{bitState,jdbcType=BIGINT},</if>
        <if test="isDelete != null and isDelete!=''">is_delete = #{isDelete,jdbcType=TINYINT},</if>
        <if test="doctorAbout != null and doctorAbout!=''">doctor_about = #{doctorAbout,jdbcType=LONGVARCHAR},</if>
        version = version + 1
      </set>
    where id = #{id,jdbcType=BIGINT} AND version = #{version}
  </update>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select id, doctor_name, doctor_sex, hospital_name, offices_name, doctor_img, doctor_title, 
    teach_title, doctor_administrative, doctor_degree, doctor_forte, email, phone_number, 
    realAuth_id, bit_state, is_delete, doctor_about,version
    from doctorinfo
    where id = #{id,jdbcType=BIGINT}
  </select>

  <select id="selectAll" resultMap="BaseResultMap" >
    select id, doctor_name, doctor_sex, hospital_name, offices_name, doctor_img, doctor_title, 
    teach_title, doctor_administrative, doctor_degree, doctor_forte, email, phone_number, 
    realAuth_id, bit_state, is_delete, doctor_about,version
    from doctorinfo
  </select>

</mapper>