<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.feiran.zg.core.base.mapper.PositionMapper" >
  <resultMap id="BaseResultMap" type="com.feiran.zg.core.base.domain.Position" >
    <!--<id column="id" property="id" jdbcType="VARCHAR" />-->
    <result column="province" property="province" jdbcType="VARCHAR" />
    <result column="city" property="city" jdbcType="VARCHAR" />
    <result column="county" property="county" jdbcType="VARCHAR" />
    <result column="countryside" property="countryside" jdbcType="VARCHAR" />
  </resultMap>

  <select id="selectByCountryside" resultMap="BaseResultMap" parameterType="java.lang.String" >
    SELECT d.area_name AS province,c.area_name AS city, b.area_name AS county, a.area_name AS countryside FROM
     area a
    LEFT JOIN
     area b ON a.parent_id = b.id

    LEFT JOIN
     area c ON b.parent_id = c.id
    LEFT JOIN
     area d    ON c.parent_id = d.id
    WHERE a.id = #{town} AND b.id = a.parent_id AND c.id = b.parent_id AND d.id = c.parent_id
  </select>

</mapper>